@import '../../theme/globals.scss';
$heightCard: 260px;

.cardContainer {
    margin: 20px;
    background-color: #f6f6c9 !important;
    .gridContainer {
        padding: 10px;
        .cardDescription {
            &_1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                padding: 5px;
                text-transform: uppercase;
                min-height: $heightCard;
            }
            &_2 {
                padding: 20px;
                min-height: $heightCard;
                .description {
                    display: flex;
                    flex-direction: column;
                    align-content: space-around;
                    h3 {
                        margin-top: 10px;
                    }
                }
                @media only screen and (min-width: 300px) and (max-width: 599px) {
                    min-height: 200px;
                }
            }
            &_3 {
                padding: 15px;
                min-height: $heightCard;

                @media only screen and (min-width: 300px) and (max-width: 1199px) {
                    min-height: 200px;
                }
                @media only screen and (min-width: 1200px) {
                    min-height: $heightCard;
                }
            }
        }
    }
}

// backgrouds colors
.rock {
    background-color: rgb(148, 81, 81);
}
.ghost {
    background-color: rgb(148, 139, 139);
}
.electric {
    background-color: rgb(255, 255, 161);
}
.bug {
    background-color: #f6d6a7;
}
.poison {
    background-color: #e0a7f6;
}
.normal {
    background-color: #f4f4f4;
}
.fairy {
    background-color: rgba(255, 192, 203, 0.863);
}
.fire {
    background-color: #fbe3df;
}
.grass {
    background-color: #e2f9e1;
}
.water {
    background-color: #e0f1fd;
}
.fighting {
    background-color: #efed6c;
}
.psychic {
    background-color: rgb(248, 230, 251);
}
.ice {
    background-color: rgb(82, 196, 240);
}
.steel {
    background-color: rgba(90, 111, 119, 0.31);
}
