@import '../../theme/globals.scss';

.footer {
    background-color: $first-color;
    min-height: 80px;
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            color: white;
            text-align: center;
            margin-right: 30px;
            a {
                color: inherit;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
    svg {
        color: gray;
    }
    &__rights {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            color: white;
            text-align: center;
            a {
                color: inherit;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}
